.experience {
    padding: 100px 20px;
    background: var(--gradient-bg);
    color: var(--color-text-primary);
    text-align: center;
}

.experience h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--color-secondary);
}

.experience p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--color-text-secondary);
}